<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EJS</title>
</head>
<body>

    <h1>
        Hello Elnurjon
    </h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Todo Name" required>
        <input type="datetime-local" name="name" placeholder="Todo Name" required>
        <button>Qo'shish</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>
                    Nomer
                </th>

                <th>
                    Nomi
                </th>

                <th>
                    Vaqti
                </th>

                <th>
                    Amali
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(let item of data) {%>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.date %></td>
                    <td>
                        <a href="/delete/<%= item.id %>"></a>
                    </td>
                </tr>
        </tbody>
    </table>

</body>
</html>