<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EJS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body class="p-4">

    <h1>
        Hello Elnurjon  
    </h1>
    <form method="POST" class="table">
        <input type="text" name="name" placeholder="Todo Name" required />
        <input type="datetime-local" name="date" required />
        <button>Qo'shish</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nomer
                </th>

                <th>
                    Nomi
                </th>

                <th>
                    Vaqti
                </th>

                <th>
                    Amali
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(let item of data) {%>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.date %></td>
                    <td>
                        <a href="/delete/<%= item.id %>">Delete</a>
                    </td>
                </tr>

                <%}%>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>